<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LocoSound v2</title>

    <script src="js/app.v2.js" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">

</head>

<body>
    <div id="app">
        <v-app>
            <v-container>
                <img src="images/logo.png" alt="LocoSound">
                <p>Welcome to LocoSound!</p>
                <p>
                    <v-btn @click="addLoco" color="success">Add loco</v-btn>
                </p>
                <v-tabs v-model="activeLoco">
                    <v-tab v-for="(loco, index) in locos" :key="index">
                        {{ loco.name }}
                    </v-tab>
                    <v-tab-item v-for="(loco, index) in locos" :key="index">
                        <loco :loco="loco"></loco>
                    </v-tab-item>
                </v-tabs>
            </v-container>
        </v-app>
    </div>
</body>

</html>