@import url('https://fonts.googleapis.com/css?family=Raleway');

$ls-primary: #40798c;
$ls-secondary: #ece4b7;
$ls-red: #d36135;
$ls-green: #7fb069;
$ls-black: #0b2027;

$base-body-font-family: "Raleway", sans-serif;
$global-primary-background: $ls-primary;
$global-link-color: $ls-primary;
$button-primary-background: $ls-green;